<br>
<br>
<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="5"><div class="inner-box"></div></div>
    <div nz-col class="gutter-row" [nzSpan]="7"><div class="inner-box">
        <div class="picture">
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                delicious banana pancakes
              </button>  
              <br>
            <img class="picture1" src="assets/pancake.png" alt="pancake">
         </div>
    </div></div>
    <div nz-col class="gutter-row" [nzSpan]="7"><div class="inner-box">
        <div class="picture">
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                quick fish & chips
              </button>  
              <br>
            <img class="picture2" src="assets/crisp.png" alt="crisp">
         </div>
         <div class="picture">
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                easy sushi at home
              </button>  
              <br>
            <img class="picture2" src="assets/sushi.png" alt="sushi">
         </div>
    </div></div>
    <div nz-col class="gutter-row" [nzSpan]="5"><div class="inner-box"></div></div>
  </div>


<br>
<div nz-row>
    <div nz-col nzFlex="2"></div>
    <div nz-col nzFlex="1">
         <div class="picture">
              <br>
            <img class="picture3" src="assets/bowl.png" alt="bowl">
            <br>
            <div>
                <p class="bellow">pasta</p>
            </div> 
         </div>
    </div>
    <div nz-col nzFlex="1">
        <div nz-col nzFlex="1">
            <div class="picture">
                 <br>
               <img class="picture3" src="assets/dip.jpg" alt="dip">
               <br>
               <div>
                   <p class="bellow">side dishes & dips</p>
               </div> 
            </div>
       </div>
    </div>
    <div nz-col nzFlex="1">
        <div nz-col nzFlex="1">
            <div class="picture">
                 <br>
               <img class="picture3" src="assets/chick.jpg" alt="chick">
               <br>
               <div>
                   <p class="bellow">meat</p>
               </div> 
            </div>
       </div>
    </div>
    <div nz-col nzFlex="1">
        <div nz-col nzFlex="1">
            <div class="picture">
                 <br>
               <img class="picture3" src="assets/brek.png" alt="bowl">
               <br>
               <div>
                   <p class="bellow">breakfast</p>
               </div> 
            </div>
       </div>
    </div>
    <div nz-col nzFlex="1">
        <div nz-col nzFlex="1">
            <div class="picture">
                 <br>
               <img class="picture3" src="assets/fish.png" alt="fish">
               <br>
               <div>
                   <p class="bellow">fish</p>
               </div> 
            </div>
       </div>
    </div>
    <div nz-col nzFlex="1">
        <div nz-col nzFlex="1">
            <div class="picture">
                 <br>
               <img class="picture3" src="assets/bread.png" alt="bread">
               <br>
               <div>
                   <p class="bellow">bread & pastry</p>
               </div> 
            </div>
       </div>
    </div>
    <div nz-col nzFlex="2"></div>
  </div>


      