<br>
<br>

<div nz-row>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 4, offset: 0 }">
        </div>
    <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 12, offset: 2 }">
        <div nz-row>
            <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                <div class="image-button-container">
                  <img src="assets/pas.jpg" alt="pas ">
                  <br>
                <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                    <nz-icon nzType="download" />
                    INSPIRATION
                  </button>  
                </div>
                
            </div>

            <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                <div class="image-button-container">
                    <img src="assets/veg.jpg" alt="veg ">
                    <br>
                <button nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/recepies">
                    <nz-icon nzType="download" />
                    RECEPIES
                  </button>
                </div>
                
            </div>
            <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                <div class="image-button-container">
                    <img src="assets/dip.jpg" alt="dip ">
                    <br>
                <button nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/groceries">
                    <nz-icon nzType="download" />
                    GROCERIES
                  </button>
                </div>
                
            
            </div>
                 </div>
         </div>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 4, offset: 2}"></div>
  </div>

  <br>
  <br>

  <div nz-row>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 4, offset: 0 }">
        
    </div>
    <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 12, offset: 2 }">
        <div class="organize">
            <br>
            <div class="title" routerLink="/organize" >
              <h2> Organize your pantry </h2>
            </div>
            <br>
            <br>
            <pre class="desc">
            A well-organized pantry starts with regularly updating your inventory to 
            keep track of items and their expiration dates. By uploading and 
            maintaining a digital record of your pantry, you can easily monitor what
            you have, avoid food waste, and plan meals efficiently. This system ensures
            that expired products are removed in time and helps you restock essential
            items before they run out.
            </pre>
        </div>
    </div>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }"></div>
  </div>
  
  <br>
  <br>
  <br>

  <div nz-row>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 5, offset: 0 }">
        
    </div>
    <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 10, offset: 2 }">
        <div class="read">
            <br>
            <div class="title2" routerLink="/inspo" >
              <pre class="desc2"> 
        Read what
            Others Have
        Said </pre>
            </div>
            <br>
            <br>
            <div nz-row class="comm">
                <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                    <p>
                    "The website is super
                    helpful with clear step-by
                    -step guides on organizing 
                    my pantry efficiently. I love
                    the labeled sections, but adding
                    a printable checklist would make
                    it even better!
                    </p>
                </div>
                <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                    <p>
                        "Great layout and easy-to-follow
                        tips for maximizing storage space.
                        It would be nice to see more budget
                        -friendly organization product
                        recommendations." 
                    </p>
                </div>
                <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
                    <p>
                        "I appreciate the before-and
                        -after visuals that make organizing
                        feel achievable. A section for
                        common pantry mistakes to avoid would
                        be a great addition!"
                    </p>
                </div>
              </div>
        </div>
    </div>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 4, offset: 2 }"></div>
  </div>