<div class="title">
    <p>Get inspired!</p>
    <p class="title2">
        And prepare something great :)
    </p>
</div>

<div nz-row>
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="6">
        <div class="picture">
            <img src="assets/brownie.png" alt="brownie">
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                5 great healthy recepies
              </button>  
         </div>
    </div>
    <div nz-col nzSpan="6">
        <div class="picture">
            <img src="assets/tortilla.png" alt="tortilla">
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                how to prepare gluten free tortilla
              </button>  
         </div>
    </div>
    <div nz-col nzSpan="6">
        <div class="picture">
            <img src="assets/kipfl.png" alt="kipfl"> 
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                easy holiday bakes
              </button>  
         </div>
    </div>
  </div>

  <br>
  <br>

  <div nz-row>
    <div nz-col nzSpan="4"></div>
    <div nz-col nzSpan="6">
        <div class="picture">
            <img src="assets/soup.png" alt="soup"> 
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                8 great pasta recepies
              </button>  
         </div>
    </div>
    <div nz-col nzSpan="6">
        <div class="picture">
            <img src="assets/cake.png" alt="cake"> 
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                spring is here
              </button>  
         </div>
    </div>
    <div nz-col nzSpan="6">
        <div class="picture">
            <img src="assets/sweet.png" alt="sweet"> 
            <br>
            <button  nz-button nzType="primary" [nzSize]="size" nzShape="round" routerLink="/inspo">
                simple and quick desserts
              </button>  
         </div>
    </div>
  </div>