
<div class="title">
        <p>ABOUT US! </p>
    </div>

<div nz-row>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6">
        <div class="desc">
        <p class="title2"> Making a Difference: Preventing Food Waste </p>
        <br>
        <pre class="desc2">
    We believe that an organized pantry
    is the key to reducing food waste and
    making the most of what you have. By
    keeping track of expiration dates and 
    regularly updating your inventory, you
    can ensure that food gets used before it
    goes bad. Our goal is to help households
    waste less and save more through 
    simple, effective organization.</pre>       
    </div></div>
    <div nz-col nzSpan="6">
        <div class="picture">
           <img src="assets/pantry.png" alt="pantry"> 
        </div>
          </div>
    <div nz-col nzSpan="6"></div>
  </div>

  <br>
  <br>

  <div nz-row>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6">
        <div class="picture">
             <img src="assets/shop.png" alt="shop">
        </div>
         </div>
    <div nz-col nzSpan="6">
        <div class="desc">
        <p class="title2" > Planning Better: Shop Smart & Save Time</p>
        <br>
        <pre class="desc2">
    A well-managed pantry makes grocery
    shopping easier and more efficient. With
    a clear view of what you already have,
    you can avoid unnecessary purchases 
    and prevent food from going to waste. 
    This means less time spent at the store,
    smarter spending, and a kitchen stocked
    with only what you need. </pre>    
    </div></div>
    <div nz-col nzSpan="6"></div>
  </div>
  <br>
  <br>

  <div nz-row>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6">
    <div class="desc">
        <p class="title2">Making Meal Planning Easy: Eat at Home More</p>
        <br>
        <pre class="desc2">
    Knowing exactly what’s in your pantry
    makes it simpler to plan meals for the
    week. Instead of ordering takeout, you
    can quickly put together home-cooked
    meals with ingredients you already
    have. Our system helps you stay 
    organized, save money, and enjoy
    healthier, homemade food. </pre>
             
    </div>
    </div>
    <div nz-col nzSpan="6">
        <div class="picture">
         <img src="assets/plan.png" alt="">
        </div>
        
    </div>
    <div nz-col nzSpan="6"></div>
  </div>
`



<div>
    
</div>

